.cxe-taskboard-loading,
.cxe-taskboard-error {
  padding: 3rem;
}

.cxe-taskboard-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cxb-tasklist {
  padding: 1rem 1.5rem;
  width: 29rem;
}

.cxe-tasklist-header {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  font-style: normal;
}

.cxe-tasklist-items {
  margin: 0 0 1rem 0;
}

.cxe-tasklist-add {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}

.cxb-task {

  &:focus {
    outline: none;
  }

  padding: 0 0.5rem 0 2.5rem;
  transition: max-height 0.2s;


  p {
    margin: 0.5rem 0 0.5rem 0;
    white-space: pre-wrap;
  }

  input[type="checkbox"] {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
  }

  textarea {
    width: 100%;
    background: rgba(128, 128, 128, 0.1);
    color: white;
    border: none;
    font-family: inherit;
    padding: 0.5rem 0;
    font-size: inherit;
    overflow: hidden;
    display: block;

    &:focus {
      outline: none;
    }
  }
}

.cxe-task-content {
  .cxb-task.cxs-completed & {
    opacity: 0.3;
  }
}

.cxb-listeditor {
  animation-name: maxHeight1000;
  animation-duration: 1s;
  overflow: hidden;
}

@keyframes maxHeight1000 {
  from { max-height: 0; }
  to { max-height: 1000px; }
}

