.cxb-taskboard {
  display: flex;
  flex-direction: row;
}

.cxb-tasklist {
  width: 20rem;
  padding: 1rem;
}

.cxe-tasklist-header {
  font-size: 1rem;
  margin: 0;
}

.cxb-task {
  padding: 1rem;
}