@import "~cx-core/src/ui/form/variables";

$cx-input-default: map_merge($cx-input-default, (
  color: rgba(255, 255, 255, 0.9),
  background: rgba(255, 255, 255, 0.1),
  border-color: rgba(128, 128, 128, 0.1)
));

$font-size: 12.5px;

$cx-input-font-size: $font-size;
@import "~cx-core/src/index";


html {
  height: 100%;
  font-size: $font-size;
}

body {
  margin: 0;
  height: 100%;

  //font-family: -apple-system, BlinkMacSystemFont,
  //"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  //"Fira Sans", "Droid Sans", "Helvetica Neue",
  //sans-serif;

  font-family: 'Consolas';
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

@import "routes/index";
@import "themes/index";