.cxe-layout-header {
  display: flex;
  padding: 1rem;

  .spacer {
    width: 6rem;
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  a {
    padding: 0.5rem 1rem;
  }
}

.cxb-textfield.cxm-search {
  margin: 0 2em;
  width: 20rem;

  @media screen and (max-width: 1200px) {
    width: auto;
    flex: 1;
  }

  transition: width 0.5s;

  &:placeholder-shown {
    width: 10rem;
  }

  .cxe-textfield-input {
    background: transparent;
    color: inherit;
    border: none;
    height: auto;
  }
}

@import "default/index";
@import "settings/index";
@import "help/index";