.cxe-taskboard-loading,
.cxe-taskboard-error {
  padding: 3rem;
}

.cxe-taskboard-lists {
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (min-width: 700px) {
    display: flex;
  }
}

.cxb-tasklist {
  padding: 1rem 1.5rem;

  @media screen and (min-width: 700px) {
    width: 29rem;
  }
}

.cxe-tasklist-header {
  display: flex;

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
    flex: 1;
  }

  a {
    transform: scaleX(-1);
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }


}

.cxe-tasklist-items {
  margin: 0 0 1rem 0;
}

.cxe-tasklist-add {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}

.cxb-task {

  border: 1px solid transparent;
  margin: -1px;

  &:focus {
    outline: none;
  }

  padding: 0 0.5rem 0 2.5rem;
  transition: max-height 0.2s;


  p {
    margin: 0.5rem 0 0.5rem 0;
    white-space: pre-wrap;
  }

  .cxe-checkbox-input {
    position: absolute;
    left: 8px;
    top: 7px;
  }

  textarea {
    width: 100%;
    background: rgba(128, 128, 128, 0.1);
    color: white;
    border: none;
    font-family: inherit;
    padding: 0.5rem 0;
    font-size: inherit;
    overflow: hidden;
    display: block;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}

.cxe-task-content {
  .cxb-task.cxs-completed & {
    opacity: 0.3;
  }
}

.cxb-listeditor {
  animation-name: maxHeight1000;
  animation-duration: 1s;
  overflow: hidden;
}

@keyframes maxHeight1000 {
  from { max-height: 0; }
  to { max-height: 1000px; }
}

